.popup :is(.icons){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons a{
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    transition: all 0.3s ease-in-out ;
}

.icons a:nth-child(1){
    color: #1877F2;
    border-radius:#b7d4fb;
}

.icons a:nth-child(1):hover{
    background: #1877F2;
}

.icons a:nth-child(2){
    color: #46C1F6;
    border-radius:#b6c7fc;
}

.icons a:nth-child(2):hover{
    background: #46C1F6;
}

.icons a:nth-child(3){
    color: #e1306c;
    border-radius:#f5bccf;
}

.icons a:nth-child(3):hover{
    background: #e1306c;
}

.icons a:nth-child(4){
    color: #25D366;
    border-radius:#bef4f2;
}
.icons a:nth-child(4):hover{
    background: #25D366;
}

.icons a:hover{
    color: #fff;
    border-color: transparent;
}

.icons a i{
    transition: all 0.3s ease-in-out;
}

.icons a:hover i{
    transform: scale(1.2);   
}

.content{
    margin: 15px 0 20px 0;
}