{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<!------------------------SLIDER---------------------------------------------->
<section class="home-slider" id="home-slider">
    <div class="contenido-slider">
        <h3>Flores</h3>
        <p>Las mejores flores para tu jardin y casa</p>

        <a class="btn btn-outline-success" href="#producto" role="button" style="background-color: #67cb57; border-radius: 5rem; padding:.9rem 3.5rem;">Comprar Ahora</a>
    </div>

    <div class="controles">
        <span class="vid-btn active" data-src="{% static 'images/home-bg.jpg' %}"></span>
        <span class="vid-btn" data-src="{% static 'core/images/home-bg.jpg' %}"></span>
        <span class="vid-btn" data-src="{% static 'core/images/home-bg.jpg' %}"></span>
    </div>

    <div class="image-container">
        <img src="{% static 'core/images/home-bg.jpg' %}" id="imagen-slider" alt="">
    </div>

</section>

{% endblock %}


{% block content_productos %}
<!--BOTON DE COMPARTIR-->
<div class="modal fade" id="shapeModal" aria-hidden="true" tabindex="-1" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 500px; height: 500px;">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" style="font-size: 3rem;">Compartir</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="popup">
                <div class="content">
                    <ul class="icons">
                        <a href="https://www.facebook.com/" target="_BLANK"><i class="fab fa-facebook"><p></p></i></a>
                        <a href="https://www.twitter.com/" target="_BLANK"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_BLANK"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.whatsapp.com/" target="_BLANK"><i class="fab fa-whatsapp"></i></a>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<!---------------------------------------------PRODUCTOS------------------------------------------------->
<section class="productos" id="producto">

    <div class="box-container">
        {%for p in flores %}
            <div class="box">
                <span class="descuento">-5%</span>
                <div class="image">
                    <img src="{{p.imagen.url}}" alt=""  style="width: 300px; height: 300px;">
                    <div class="iconos">
                        <a class="fa fa-cart-plus"  data-bs-target="#miModal{{p.idProducto}}" data-bs-toggle="modal"></a>
                        <a class="fas fa fa-share" data-bs-target="#shapeModal" data-bs-toggle="modal"></a>
                    </div>
                </div>

                <div class="contenido">
                    <h3>{{p.nombre}}</h3>
                    <div class="precio">${{p.precio}} <span>$21.000</span></div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>


<!------------------------------------MODAL------------------------------------------------------> 
{%for p in flores %}
<div class="modal fade" id="miModal{{p.idProducto}}" aria-hidden="true" tabindex="-1" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle" style="color: #333; font-size: 2.5rem;">{{p.nombre}}</h3>
                <h3 class="modal-dialog">${{p.precio}}</h3>
                                    <!--BOTON DE CIERRE-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3rem;"></button>
            </div>
            <div class="modal-body">
                <div class="modal-fullscreen"><img src="{{p.imagen.url}}" style="height: 300px;"></div>

                <div class="form-group">
                    <label for="Cantidad">Cantidad</label>
                    <select name="identificador" id="identificador" class="form-select" style="width:30%; height:35px; font-size: 1.3rem;">
                        <option value="1" style="font-size: 1.3rem;">1</option>
                        <option value="2" style="font-size: 1.3rem;">2</option>
                        <option value="3" style="font-size: 1.3rem;">3</option>
                        <option value="4" style="font-size: 1.3rem;">4</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <a href="{% url 'Add' p.idProducto %}" class="btn btn-primary">Agregar Al Carro</a>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}

