{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<!------------------------SLIDER---------------------------------------------->
<section class="home-slider" id="home-slider">
    <div class="contenido-slider">
        <h3>Flores</h3>
        <p>Las mejores flores para tu jardin y casa</p>

        <a class="btn btn-outline-success" href="#producto" role="button" style="background-color: #67cb57; border-radius: 5rem; padding:.9rem 3.5rem;">Comprar Ahora</a>
    </div>

    <div class="controles">
        <span class="vid-btn active" data-src="{% static 'images/home-bg.jpg' %}"></span>
        <span class="vid-btn" data-src="{% static 'core/images/home-bg.jpg' %}"></span>
        <span class="vid-btn" data-src="{% static 'core/images/home-bg.jpg' %}"></span>
    </div>

    <div class="image-container">
        <img src="{% static 'core/images/home-bg.jpg' %}" id="imagen-slider" alt="">
    </div>

</section>

{% endblock %}


{% block content_productos %}
<!---------------------------------------------PRODUCTOS------------------------------------------------->
<section class="productos" id="producto">

    <div class="box-container">

        <div class="box">
            <span class="descuento">-5%</span>
            <div class="image">
                <img src="{% static 'core/images/img-1.jpg' %}" alt="">
                <div class="iconos">
                    <a href="#" class="fas fa-heart"></a>
                    <a class="fa fa-cart-plus"  data-bs-target="#miModal" data-bs-toggle="modal"></a>
                    <a href="#" class="fas fa fa-share"></a>
                </div>
            </div>

            <div class="contenido">
                <h3>Tulipanes Rosados</h3>
                <div class="precio">$15.200 <span>$16.500</span></div>
            </div>
        </div>


        <div class="box">
            <span class="descuento">-5%</span>
            <div class="image">
                <img src="{% static 'core/images/rosa_4.png' %}" alt="">
                <div class="iconos">
                    <a href="#" class="fas fa-heart"></a>
                    <a class="fa fa-cart-plus"  data-bs-target="#miModal2" data-bs-toggle="modal"></a>
                    <a href="#" class="fas fa fa-share"></a>
                </div>
            </div>

            <div class="contenido">
                <h3>Surtido De Rosas</h3>
                <div class="precio">$19.950 <span>$21.000</span></div>
            </div>
        </div>

        <div class="box">
            <span class="descuento">-5%</span>
            <div class="image">
                <img src="{% static 'core/images/img-5.jpg' %}" alt="">
                <div class="iconos">
                    <a href="#" class="fas fa-heart"></a>
                    <a class="fa fa-cart-plus"  data-bs-target="#miModal3" data-bs-toggle="modal"></a>
                    <a href="#" class="fas fa fa-share"></a>
                </div>
            </div>

            <div class="contenido">
                <h3>Tulipanes Blancos</h3>
                <div class="precio">$14.250 <span>$15.000</span></div>
            </div>
        </div>

        <div class="box">
            <span class="descuento">-5%</span>
            <div class="image">
                <img src="{% static 'core/images/cala-amarillo.png' %}" alt="">
                <div class="iconos">
                    <a href="#" class="fas fa-heart"></a>
                    <a class="fa fa-cart-plus"  data-bs-target="#miModal4" data-bs-toggle="modal"></a>
                    <a href="#" class="fas fa fa-share"></a>
                </div>
            </div>

            <div class="contenido">
                <h3>Calas Amarillas</h3>
                <div class="precio">$14.250 <span>$15.000</span></div>
            </div>
        </div>

    
        <div class="box">
            <span class="descuento">-5%</span>
            <div class="image">
                <img src="{%static 'core/images/gladiolo.png' %}" alt="">
                <div class="iconos">
                    <a href="#" class="fas fa-heart"></a>
                    <a class="fa fa-cart-plus"  data-bs-target="#miModal5" data-bs-toggle="modal"></a>
                    <a href="#" class="fas fa fa-share"></a>
                </div>
            </div>

            <div class="contenido">
                <h3>Gladiolo Blanco</h3>
                <div class="precio">$16.150 <span>$17.000</span></div>
            </div>
        </div>

        
        <div class="box">
            <span class="descuento">-5%</span>
            <div class="image">
                <img src="{% static 'core/images/claveles.png' %}" alt="">
                <div class="iconos">
                    <a href="#" class="fas fa-heart"></a>
                    <a class="fa fa-cart-plus"  data-bs-target="#miModal6" data-bs-toggle="modal"></a>
                    <a href="#" class="fas fa fa-share"></a>
                </div>
            </div>

            <div class="contenido">
                <h3>Surtido de Claveles</h3>
                <div class="precio">$34.200 <span>$36.000</span></div>
            </div>
        </div>
        
</section>


<!------------------------------------MODAL------------------------------------------------------> 
<div class="modal fade" id="miModal" aria-hidden="true" tabindex="-1" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle" style="color: #333; font-size: 2.5rem;">Tulipanes Rosados</h3>
                <h3 class="modal-dialog">$15.200</h3>
                                    <!--BOTON DE CIERRE-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3rem;"></button>
            </div>
            <div class="modal-body">
                <div class="modal-fullscreen"><img src="{%static 'core/images/img-1.jpg' %}" style="height: 300px;"></div>

                <div class="form-group">
                    <label for="Cantidad">Cantidad</label>
                    <select name="identificador" id="identificador" class="form-select" style="width:30%; height:35px; font-size: 1.3rem;">
                        <option value="1" style="font-size: 1.3rem;">1</option>
                        <option value="2" style="font-size: 1.3rem;">2</option>
                        <option value="3" style="font-size: 1.3rem;">3</option>
                        <option value="4" style="font-size: 1.3rem;">4</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Agregar Al Carro</button>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------------PRODUCTO MODAL 2----------------------------------------------------------->
<div class="modal fade" id="miModal2" aria-hidden="true" tabindex="-1" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle" style="color: #333; font-size: 2.5rem;">Surtido de Rosas</h3>
                <h3 class="modal-dialog">$19.950</h3>
                                    <!--BOTON DE CIERRE-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3rem;"></button>
            </div>
            <div class="modal-body">
                <div class="modal-fullscreen"><img src="{% static 'core/images/rosa_4.png' %}" style="height: 300px;"></div>

                <div class="form-group">
                    <label for="Cantidad">Cantidad</label>
                    <select name="identificador" id="identificador" class="form-select" style="width:30%; height:35px; font-size: 1.3rem;">
                        <option value="1" style="font-size: 1.3rem;">1</option>
                        <option value="2" style="font-size: 1.3rem;">2</option>
                        <option value="3" style="font-size: 1.3rem;">3</option>
                        <option value="4" style="font-size: 1.3rem;">4</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Agregar Al Carro</button>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------------PRODUCTO MODAL 3----------------------------------------------------------->
<div class="modal fade" id="miModal3" aria-hidden="true" tabindex="-1" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle" style="color: #333; font-size: 2.5rem;">Tulipanes Blancos</h3>
                <h3 class="modal-dialog">$14.250</h3>
                                    <!--BOTON DE CIERRE-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3rem;"></button>
            </div>
            <div class="modal-body">
                <div class="modal-fullscreen"><img src="{% static 'core/images/img-5.jpg' %}" style="height: 300px;"></div>

                <div class="form-group">
                    <label for="Cantidad">Cantidad</label>
                    <select name="identificador" id="identificador" class="form-select" style="width:30%; height:35px; font-size: 1.3rem;">
                        <option value="1" style="font-size: 1.3rem;">1</option>
                        <option value="2" style="font-size: 1.3rem;">2</option>
                        <option value="3" style="font-size: 1.3rem;">3</option>
                        <option value="4" style="font-size: 1.3rem;">4</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Agregar Al Carro</button>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------------PRODUCTO MODAL 4----------------------------------------------------------->
<div class="modal fade" id="miModal4" aria-hidden="true" tabindex="-1" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle" style="color: #333; font-size: 2.5rem;">Calas Amarillas</h3>
                <h3 class="modal-dialog">$14.250</h3>
                                    <!--BOTON DE CIERRE-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3rem;"></button>
            </div>
            <div class="modal-body">
                <div class="modal-fullscreen"><img src="{% static 'core/images/cala-amarillo.png' %}" style="height: 300px;"></div>

                <div class="form-group">
                    <label for="Cantidad">Cantidad</label>
                    <select name="identificador" id="identificador" class="form-select" style="width:30%; height:35px; font-size: 1.3rem;">
                        <option value="1" style="font-size: 1.3rem;">1</option>
                        <option value="2" style="font-size: 1.3rem;">2</option>
                        <option value="3" style="font-size: 1.3rem;">3</option>
                        <option value="4" style="font-size: 1.3rem;">4</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Agregar Al Carro</button>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------------PRODUCTO MODAL 5----------------------------------------------------------->
<div class="modal fade" id="miModal5" aria-hidden="true" tabindex="-1" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle" style="color: #333; font-size: 2.5rem;">Gladiolo Blanco</h3>
                <h3 class="modal-dialog">$16.150</h3>
                                    <!--BOTON DE CIERRE-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3rem;"></button>
            </div>
            <div class="modal-body">
                <div class="modal-fullscreen"><img src="{% static 'core/images/gladiolo.png' %}" style="height: 300px;"></div>

                <div class="form-group">
                    <label for="Cantidad">Cantidad</label>
                    <select name="identificador" id="identificador" class="form-select" style="width:30%; height:35px; font-size: 1.3rem;">
                        <option value="1" style="font-size: 1.3rem;">1</option>
                        <option value="2" style="font-size: 1.3rem;">2</option>
                        <option value="3" style="font-size: 1.3rem;">3</option>
                        <option value="4" style="font-size: 1.3rem;">4</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Agregar Al Carro</button>
            </div>
        </div>
    </div>
</div>
<!-----------------------------------------------PRODUCTO MODAL 6----------------------------------------------------------->
<div class="modal fade" id="miModal6" aria-hidden="true" tabindex="-1" aria-labelledby="modalTitle">
<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modalTitle" style="color: #333; font-size: 2.5rem;">Surtido de Claveles</h3>
            <h3 class="modal-dialog">$34.200</h3>
                                <!--BOTON DE CIERRE-->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3rem;"></button>
        </div>
        <div class="modal-body">
            <div class="modal-fullscreen"><img src="{% static 'core/images/claveles.png' %}" style="height: 300px;"></div>

            <div class="form-group">
                <label for="Cantidad">Cantidad</label>
                <select name="identificador" id="identificador" class="form-select" style="width:30%; height:35px; font-size: 1.3rem;">
                    <option value="1" style="font-size: 1.3rem;">1</option>
                    <option value="2" style="font-size: 1.3rem;">2</option>
                    <option value="3" style="font-size: 1.3rem;">3</option>
                    <option value="4" style="font-size: 1.3rem;">4</option>
                </select>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Agregar Al Carro</button>
        </div>
    </div>
</div>
</div>


{% endblock %}

