{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<section class="formulario">
    <div class="row">

        <div class="col-lg-5 p-3" style="background: rgb(253, 254, 254,.3);">
            <img src="{% static 'core/images/img_reg.png' %}" alt="" style="height: 300px;" height="300px">
        </div>
        
        <div class="col-lg-7 p-5" style="background: rgb(253, 254, 254,.3);">
            <div class="signup-form">
                <form method="post" class="mt-5 border p-5 bg-light shadow" id="formularioregistro">
                    {% csrf_token %}
                    <h3>INICIO DE SESION</h3>
                    <div class="row">
                        <div class="alert alert-danger" role="alert" id="alerta">
                        </div>
                        
                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="text" class="form-control" id="id_email"  name="correo_login" placeholder="Nombre" style="font-size: 1.3rem;">
                            <label for="floatingInput">correo</label>
                        </div>
                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="password" class="form-control"  id="id_pass" placeholder="contraseña" style="font-size: 1.3rem;"  name="password_login">
                            <label for="floatingInput">contraseña</label>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-outline-success" href="#" role="button" style="background-color: #67cb57; border-radius: 5rem; padding:.9rem 3.5rem;">Logear</button>
                        </div>

                    </div>
                </form>   
            </div> 
        </div>
    </div> 
</section>
{% endblock %}
{% block js %}
<script src="{% static 'core/jquery.rut.min.js' %}"></script>
{% endblock %}