{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<section class="formulario">
    <div class="row">

        <div class="col-lg-5 p-3" style="background: rgb(253, 254, 254,.3);">
            <img src="images/img_reg.png" alt="" style="height: 300px;" height="300px">
        </div>
        
        <div class="col-lg-7 p-5" style="background: rgb(253, 254, 254,.3);">
            <div class="signup-form">
                <form method="post" class="mt-5 border p-5 bg-light shadow" id="formularioregistro">
                    {% csrf_token %}
                    <h3>REGISTRO</h3>
                    <div class="row">
                        <div class="alert alert-danger" role="alert" id="alerta">
                        </div>
                        
                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="text" name="nombre" class="form-control" id="id_nomb"  name="nombre" placeholder="Nombre" style="font-size: 1.3rem;">
                            <label for="floatingInput">Nombre</label>
                        </div>
                    
                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="text" name="apellido" class="form-control" id="id_ape" placeholder="Apellido" style="font-size: 1.3rem;">
                            <label for="floatingPassword">Apellido</label>
                        </div>
                        
                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="text" name="direcc" class="form-control"  id="id_direc" placeholder="Dirección" style="font-size: 1.3rem;">
                            <label for="floatingInput">Dirección</label>
                        </div>

                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="text" name="numte" class="form-control" id="id_num" placeholder="Numero Telefonico" style="font-size: 1.3rem;">
                            <label for="floatingInput">Número Telefonico</label>
                        </div>

                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="email" name="email" class="form-control" id="id_email" placeholder="Email" style="font-size: 1.3rem;">
                            <label for="floatingInput">Email</label>
                        </div>

                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="password" name="password" class="form-control" id="id_pass" placeholder="contraseña" style="font-size: 1.3rem;">
                            <label for="floatingPassword">Contraseña</label>
                        </div>

                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="date" name="fechnac" class="form-control" id="id_date" placeholder="Fecha Nacimiento" style="font-size: 1.3rem;">
                            <label for="floatingInput">Fecha Nacimiento</label>
                        </div>

                        <div class="form-floating mb-3 col-6 p-2">
                            <input type="text" name="rut" class="form-control" id="id_rut" placeholder="Rut" style="font-size: 1.3rem;">
                            <label for="floatingPassword">Rut</label>
                        </div>
                        
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-outline-success" type="submit" style="background-color: #67cb57; border-radius: 5rem; padding:.9rem 3.5rem;">Registrarse</button>
                        </div>

                    </div>
                </form>   
            </div> 
        </div>
    </div> 
</section>
{% endblock %}
{% block js %}
<script src="{% static 'core/jquery.rut.min.js' %}"></script>
{% endblock %}